{% extends 'register/../baseweb.html' %}

{% block title %}
    Request Money
{% endblock %}

{% load crispy_forms_filters %}

{% block content %}
    {% if pending_transactions %}
        <h1>Pending Transactions</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Send To</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pending_transactions %}
                <tr>
                    <td>{{ transaction.pk }}</td>
                    <td>{{ transaction.user_receiving }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Process Transaction</h2>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ process_pending|crispy }}
            <button type="submit" class="btn btn-success">Process</button>
        </form>
    {% else %}
        <p>You have no pending transactions to process.</p>
    {% endif %}
{% endblock %}