{% extends 'baseweb.html' %}

{% block title %}
    Pay App Homepage
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        {% if transaction_list|length > 0 %}
            <h5>User <em>{{user.username}}</em> transactions:</h5>
            <br>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Sent From</th>
                    <th>Sent To</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for frmt in transaction_list %}
                    <tr>
                        <td>{{ frmt.id }}</td>
                        <td>{{ frmt.transaction_date }}</td>
                        <td>{{ frmt.user_sending.username }}</td>
                        <td>{{ frmt.user_receiving.username }}</td>
                        <td>{{ frmt.amount }}</td>
                        <td>{{ frmt.state }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>There are no transactions for user: <em>{{user.username}}</em>.</h5>
        {% endif %}
    {% else %}
        <h5>PayApp Homepage.</h5>
    {% endif %}

{% endblock %}